body{
    background-color: rgb(241, 255, 219);
}

button{
    color:maroon;
    width: 110px;
    height: 60px;
}

h2{
    color: green;
}

label{
    color: dodgerblue;
}

input{
    height: 50px;
    width: 300px;
}